.navbar {
    border-radius: 0;
    color: rgb(26, 25, 25);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 33;
    background-color: #393131;
    border-bottom:0.5px solid rgb(169, 167, 167);
    padding: 1rem;
    position: sticky; top: 0;
  }

  // .navbar-brand {
  //   display: flex;
  //   align-items: center;
  // }
  
  .navbar-brand img {
    margin-right: -4rem;
  }
  
  .navbar-brand span {
    font-family:  sans-serif;
    // font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
  }
  
  // .navbar-brand {
  // //   padding-top: 0;
  // //   padding-bottom: 0;
  // //   height: 60px;
  // // }
  
  
  // .navbar-brand span {
  //   float: left;
  // }
  
  // .navbar-brand span:first-child {
  //   padding-top: 20px;
  // }
  
  .navbar-inverse {
    background-color: #0c0606 ;
    justify-content: right;
    // border-color: #fdfcfc;
  }
  
   .navbar-header {
     margin-left: 1.2rem;
   }
  