.navbar {
    border-radius: 0;
    color: rgb(26, 25, 25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgb(225, 222, 222);
    border-bottom:1px solid grey;
  }

  
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;
  }
  
  
  .navbar-brand span {
    float: left;
  }
  
  .navbar-brand span:first-child {
    padding-top: 20px;
  }
  
  .navbar-inverse {
    background-color: #fdfcfc;
    // border-color: #fdfcfc;
  }
  
  .navbar-header {
    margin-left: 6rem;
  }
  