@import url(https://fonts.googleapis.com/css?family=Montserrat:200);

.container{
  max-width: 500px; /* set a maximum width */
  // border: #ca5010; /* add a border */
  padding: 2px;
  margin: 10px;
}

.SectionDiv{
  body{ background-color: antiquewhite;}
  .SectionDiv{ width: 500px;}
  .cartPanel{  width: 100px;
     height:100px; float: left; margin-right: 15px;
      margin-bottom: 15px; border-radius: 10px; 
      background-color: white; padding:10px; 
      text-align: center;}
  .cartPanel:hover{ background-color:#E4E4E5; cursor: pointer;} 
}
